<h1>List of all movies</h1>

<table border="1">
<% Movie.all.each do |somthing| %>
<tr>
  <td><%= somthing.id %></td>
  <td>
    <img src="<%= somthing.image %>">
  </td>
  <td><%= somthing.title %></td>
  <td><%= somthing.year %></td>
  <td><%= @filmography %></td>
  <td>
    <a href="/movies/<%= somthing.id %>">
      Show details
    </a>
  </td>
</tr>
<% end %>
</table>
